


<!DOCTYPE html>

<html>
  <head>
  </head>

  <body>
    <div class="title">
      <h1>Stupid Coaching</h1>
    </div>
    <p>Ask your coach anything</p>
    <div class="actionyourcoach">
      <form action="answer">
        <input type="text" name="answer">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </body>
</html>
